layout {
  tab_template name="ui" {
      pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
      }
    
      children

      pane size=2 borderless=true {
        plugin location="zellij:status-bar"
      }
  }

  ui name="Code" focus=true {
    pane split_direction="vertical" {
      pane  name="Code" size="70%"
      pane {
        pane name="Specs"
        pane name="Console"
      }
    }
  }

  ui name="Services" {
    pane {
      pane name="Docker"
      pane name="Server"
    }
  }

  ui name="Git" {
    pane name="Lazygit" {
      command "lazygit"
    }
  }
}
