global !p
def cs(snip):
    c = '#'
    cs = snip.opt("&commentstring")
    if len(cs) == 3:
        c = cs[0]
    return c
endglobal

# Special thanks to Doctorbh on Github (www.github.com/doctorbh) for this one.
snippet cbox "Comment header in a pretty box" b
`!p
c = cs(snip)
n = '-'
bar = c + ' '
bar += 73*n

snip.rv = bar
snip += c + " " + (71-len(t[1]))/2*' '
`${1:content}`!p

a = 71-len(t[1])
snip.rv = (a/2 + a%2) * " " + " " + '|'
snip += bar`
$0
endsnippet

