clearsnippets
extends html

snippet % "standard ERB tag"
<% $1 %>$0
endsnippet

snippet = "= ERB tag"
<%= $1 %>$0
endsnippet

snippet # "embedded variable" i
#{$1}$0
endsnippet

snippet if "if (ERB)"
<% if ${1:condition} %>$0
endsnippet

snippet else "else (ERB)"
<% else %>

endsnippet

snippet end "end (ERB"
<% end %>

endsnippet

snippet lt "link_to" i
link_to("${1:Title}", ${2:url})$0
endsnippet

snippet it "image_tag" i
image_tag("${1}")$0
endsnippet
