snippet qvar "A quick way to make an easy var."
var ${1:name};
$1 = ${0:var_content};
endsnippet

snippet func "A complete function template."
function(${1:args}) {
  ${0:// contents}
}
endsnippet

snippet aray "An array shortcut in Javascript."
[ ${0:contents} ]
endsnippet

snippet { "Quick java template for {}'s."
{
  $0

endsnippet



