snippet ! "shebang line" b
#!/usr/bin/env ruby

endsnippet

snippet # "interpolated variable" i
#{$1}$0
endsnippet

snippet 3com "Easily create 3 comments using 3com." b
# $1
# $2
# $0
endsnippet

snippet proc "An easy Proc template for Ruby." b
${1:*variable*} = Proc.new do
  ${0:#Content}
end
endsnippet



