snippet date
	`strftime("%d-%m-%Y")`
snippet ddate
	`strftime("%B %d, %Y")`
snippet c)
	Copyright `&enc[:2] == "utf" ? "©" : "(c)"`		`strftime("%Y")` ${1:`g:snips_author`}. All Rights Reserved.${2}
snippet me
	`g:my_name`
snippet em
	`g:my_email`
snippet meem
	`g:my_name` <`g:my_email`>
