snippet def                                                                          
	def ${1:method_name}                                                               
		${2}                                                                             
	end    
