default_shell "fish"
// pane_frames false

theme "catppuccin-mocha"

keybinds {
  normal {
    unbind "Ctrl h"
    bind "Ctrl e" { SwitchToMode "move"; }
  }

  move {
    bind "Ctrl e" { SwitchToMode "Normal"; }
  }

  shared_except "locked" {
    unbind "Ctrl q"
    bind "Alt q" { Quit; }
    bind "Alt 1" { GoToTab 1; }
    bind "Alt 2" { GoToTab 2; }
    bind "Alt 3" { GoToTab 3; }
    bind "Alt 4" { GoToTab 4; }
    bind "Alt 5" { GoToTab 5; }
    bind "Alt 6" { GoToTab 6; }
    bind "Alt 7" { GoToTab 7; }
    bind "Alt 8" { GoToTab 8; }
    bind "Alt 9" { GoToTab 9; }
    bind "Alt 0" { GoToTab 10; }
    bind "Alt t" { NewTab; }
    bind "Alt d" { NewPane "down";}
    bind "Alt r" { NewPane "right"; }
    bind "Alt f" { ToggleFloatingPanes; }
  }
}
