default_shell "fish"
// pane_frames false

theme "catppuccin-mocha"

keybinds {
  normal {
    unbind "Ctrl h"
    bind "Ctrl e" { SwitchToMode "move"; }
  }
  move {
    bind "Ctrl e" { SwitchToMode "Normal"; }
  }
}
